.header {
    display: flex;
    align-items: center;

    background-color: var(--white);
    height: 4.5rem;

    padding: 1.5rem 3rem;

    border-bottom: 1px solid var(--gray-100);

    p {
        margin-left: 2rem;
        padding: 0.25rem 0 0.25rem 2rem;
    }

    span {
        margin-left: auto;
    }
}